mixin video(video)
    a(href=`/videos/${video.id}`).video_mixin
        div.video_data
        div.video_text
            span.video_title=video.title
            div
                span #{video.owner.name || user.username} • 
                span #{video.meta.views} 회 
                span.video_at=video.createdAt