mixin video(video)
 div.video_mixin
    a(href=`/videos/${video.id}`)
        div.video_data
        div.video_text
            span.video_title=video.title
            div 
                span #{video.owner.name} • 
                span #{video.meta.views}회
                //- p=video.description
                //- ul 
                //-     each hashtag in video.hashtags
                //-         li=hashtag
                span.video_at=video.createdAt
                //- hr